  <!-- ================= NAVBAR ================= -->
<header class="navbar">
  <div class="nav-container">
    <div class="logo">
<img [src]="'/assets/Carbon360-removebg-preview.png'" width="150" alt="Carbon 360 Logo">
    </div>
  <div class="menu-toggle" (click)="toggleMenu()">
    ☰
  </div>
    <nav  [class.active]="isMenuOpen">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/features">Features</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/reports">Reports</a></li>
        <li><a routerLink="/dashboard" class="btn-dashboard">Dashboard</a></li>
      </ul>
    </nav>
  </div>
</header>
  <router-outlet></router-outlet>

  <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
          Navbar
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="user">Users</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" routerLink="section">Section</a>
          </li>
        </ul>
        <form class="d-flex">

          @if (loggedUserName == '') {
            <button class="btn btn-outline-success" routerLink="login" type="button">Login</button>
          }@else{
              <button class="btn btn-outline-success" routerLink="login" type="button">{{loggedUserName}}</button>
              <button class="btn btn-outline-warning" routerLink="login" type="button" (click)="onLogout()">Logout</button>
          } 
        </form>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet> -->