<div class="container generator-page">

  
  <div class="table-responsive">

    <table class="generator-table">

      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Fuel</th>
          <th>Run Hours</th>
          <th>Load Factor</th>
          <th>Fuel Consumed</th>
          <th>Emission</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let item of data()">

          <td>{{ item.generatorName }}</td>
          <td>{{ item.opDate | date:'shortDate' }}</td>
          <td>{{ item.fuelType }}</td>
          <td>{{ item.runHours }}</td>
          <td>{{ item.loadFactor }}</td>
          <td>{{ item.fuelConsumed }}</td>
          <td>{{ item.totalEmission }}</td>

      <td class="action-buttons">

<button
(click)="handleAction(item)"
[disabled]="userRole === 'Corporate' && item.status !== 1">

{{ getActionText(item) }}

</button>
</td>
        </tr>

        <tr *ngIf="data().length === 0">
          <td colspan="8" class="text-center no-data">
            No records found
          </td>
        </tr>

      </tbody>

    </table>

  </div>

  <!-- Pagination Footer -->

  <div class="table-footer">

    <div class="total-records">
      Total Records : <b>{{ totalRecords() }}</b>
    </div>

    <div class="page-size">
      Show
      <select (change)="changePageSize($event)">
        <option>5</option>
        <option selected>10</option>
        <option>20</option>
        <option>50</option>
      </select>
      entries
    </div>

    <div class="pagination">

      <button
        (click)="goToPage(currentPage()-1)"
        [disabled]="currentPage() === 1">

        Prev
      </button>

      <span class="page-info">
        Page {{ currentPage() }} of {{ totalPages() }}
      </span>

      <button
        (click)="goToPage(currentPage()+1)"
        [disabled]="currentPage() === totalPages()">

        Next
      </button>

    </div>

  </div>

</div>