<div class="generator-ecpage">

  <!-- ================= INPUT FORM ================= -->
  <div class="card form-card">
    <!-- <h2 class="card-title">Vehicle Trip Emission</h2> -->

    <form [formGroup]="tripForm" (ngSubmit)="submitTrip()">

      <!-- ROW 1 -->
      <div class="form-row">

        <div class="form-group">
          <label>Vehicle</label>
          <select formControlName="vehicle_id"
            [ngClass]="{'invalid': tripForm.get('vehicle_id')?.touched && tripForm.get('vehicle_id')?.invalid}">
            <option value="">Select Vehicle</option>
            <option *ngFor="let v of vehicles" [value]="v.vehicle_id">
              {{ v.vehicle_number }}
            </option>
          </select>
          <small class="error" *ngIf="tripForm.get('vehicle_id')?.touched && tripForm.get('vehicle_id')?.invalid">
            Vehicle is required
          </small>
        </div>

        <div class="form-group">
          <label>From City</label>
          <select formControlName="fromCityId"
            [ngClass]="{'invalid': tripForm.get('fromCityId')?.touched && tripForm.get('fromCityId')?.invalid}">
            <option value="">Select From City</option>
            <option *ngFor="let city of cities" [value]="city.cityId">
              {{ city.cityName }}
            </option>
          </select>
          <small class="error" *ngIf="tripForm.get('fromCityId')?.touched && tripForm.get('fromCityId')?.invalid">
            From city is required
          </small>
        </div>

        <div class="form-group">
          <label>To City</label>
          <select formControlName="toCityId"
            [ngClass]="{'invalid': tripForm.get('toCityId')?.touched && tripForm.get('toCityId')?.invalid}">
            <option value="">Select To City</option>
            <option *ngFor="let city of cities" [value]="city.cityId">
              {{ city.cityName }}
            </option>
          </select>
          <small class="error" *ngIf="tripForm.get('toCityId')?.touched && tripForm.get('toCityId')?.invalid">
            To city is required
          </small>
          <small class="error" *ngIf="tripForm.errors?.['sameCity']">
            From city and To city cannot be same
          </small>
        </div>
      </div>

      <!-- ROW 2 -->

      <div class="form-row">
        <div class="form-group">
          <label>Vehicle Type</label>
          <input type="text" formControlName="vehicleType" readonly />
        </div>
        <!-- <div class="form-row">
        <div class="form-group">
          <label>Fuel Type</label>
          <input type="text" formControlName="fuelType" readonly />
        </div> -->
        <div class="form-group">
          <label>Distance (KM)</label>
          <input type="number" formControlName="distanceKm"
            [ngClass]="{'invalid': tripForm.get('distanceKm')?.touched && tripForm.get('distanceKm')?.invalid}" />

          <small class="error"
            *ngIf="tripForm.get('distanceKm')?.touched && tripForm.get('distanceKm')?.errors?.['required']">
            Distance is required
          </small>

          <small class="error" *ngIf="tripForm.get('distanceKm')?.errors?.['min']">
            Distance must be greater than 0
          </small>
        </div>

        <div class="form-group">
          <label>Fuel Consumed (Liters)</label>
          <input type="number" formControlName="fuelConsumedLtr"
            [ngClass]="{'invalid': tripForm.get('fuelConsumedLtr')?.touched && tripForm.get('fuelConsumedLtr')?.invalid}" />

          <small class="error"
            *ngIf="tripForm.get('fuelConsumedLtr')?.touched && tripForm.get('fuelConsumedLtr')?.errors?.['required']">
            Fuel consumed is required
          </small>

          <small class="error" *ngIf="tripForm.get('fuelConsumedLtr')?.errors?.['min']">
            Fuel must be greater than 0
          </small>
        </div>

      </div>

      <!-- ROW 3 -->
      <div class="form-row">

        <div class="form-group">
          <label>Trip Start Date</label>
          <!-- <input type="datetime-local" formControlName="tripStartDateTime" /> -->
          <input type="datetime-local" formControlName="tripStartDateTime" [max]="todayDateTime"
            [ngClass]="{'invalid': tripForm.get('tripStartDateTime')?.touched && tripForm.get('tripStartDateTime')?.invalid}"
            (change)="calculateDuration()" />

          <small class="error"
            *ngIf="tripForm.get('tripStartDateTime')?.touched && tripForm.get('tripStartDateTime')?.errors?.['required']">
            Start date is required
          </small>

          <small class="error" *ngIf="tripForm.get('tripStartDateTime')?.errors?.['futureDate']">
            Future date/time not allowed
          </small>
        </div>

        <div class="form-group">
          <label>Trip End Date</label>
          <!-- <input type="datetime-local" formControlName="tripEndDateTime" /> -->
          <input type="datetime-local" formControlName="tripEndDateTime" [max]="todayDateTime"
            [ngClass]="{'invalid': tripForm.get('tripEndDateTime')?.touched && tripForm.get('tripEndDateTime')?.invalid}"
            (change)="calculateDuration()" />

          <small class="error"
            *ngIf="tripForm.get('tripEndDateTime')?.touched && tripForm.get('tripEndDateTime')?.errors?.['required']">
            End date is required
          </small>

          <small class="error" *ngIf="tripForm.get('tripEndDateTime')?.errors?.['endBeforeStart']">
            End date must be after start date
          </small>
          <small class="error" *ngIf="tripForm.get('tripEndDateTime')?.errors?.['futureDate']">
            Future date/time not allowed
          </small>
        </div>

        <div class="form-group" *ngIf="shouldShowDuration()">
  <label>Trip Duration</label>

  <input type="text" [value]="tripDuration" readonly />

  <small class="error" *ngIf="tripForm.get('tripEndDateTime')?.errors?.['endBeforeStart']">
    Trip duration cannot be calculated because end date is before start date
  </small>
</div>

      </div>

      <!-- EMISSION FACTORS -->
      <!-- <div *ngIf="showEmissionFactorSection">

        <h3 class="sub-title">Emission Factors (KG)</h3>

        <div class="form-row">

           <div class="form-group">
            <label>CO₂ Factor</label>
            <input type="number" formControlName="co2Factor" readonly />
          </div>

          <div class="form-group">
            <label>NO₂ Factor</label>
            <input type="number" formControlName="no2Factor" readonly />
          </div>

          <div class="form-group">
            <label>CH₄ Factor</label>
            <input type="number" formControlName="ch4Factor" readonly />
          </div> 
        </div>
      </div> -->
    </form>
  </div>

  <!-- ================= BTNS ================= -->
  <div class="review-actions">

    <!-- Submit -->
    <button *ngIf="canSubmit() && !isSearchMode()" class="btn-submit" (click)="submitTrip()">
      Submit Trip
    </button>
    <!-- Reset Button -->
    <button *ngIf="canSubmit()" type="button" class="btn-reset" (click)="resetForm()">
      Reset
    </button>
    <!-- Resubmit -->
    <button *ngIf="canResubmit() && !isSearchMode()" class="btn-submit" (click)="resubmitTrip()">
      Resubmit
    </button>

    <!-- Corporate Actions -->
    <ng-container *ngIf="canCorporateAction() && !isSearchMode()">

      <button *ngFor="let action of workflowActions" [ngClass]="{
      'btn-approve': action.actionName === 'Approve',
      'btn-reject': action.actionName === 'Reject'
    }" (click)="updateStatus(action.workflowId)">

        {{ action.actionName }}

      </button>

    </ng-container>
  </div>

  <!-- ================= RESULT SECTION ================= -->
  <div class="card result-card" *ngIf="mode === 'view'">
    <!-- <div class="card result-card"> -->

    <div class="result-grid">
      <!-- <div><strong>GWP (CH₄):</strong> {{ tripForm.gwP_CH4 }}</div>
      <div><strong>GWP (NO₂):</strong> {{ tripForm.gwP_NO2 }}</div> -->

      <!-- <div><strong>Distance:</strong> {{ tripForm.get('distanceKm')?.value }} km</div>
      <div><strong>Fuel Consumed:</strong> {{ tripForm.get('fuelConsumedLtr')?.value }} L</div> -->

      <!-- <hr class="full-width">  -->

      <h5 class="section-title">Emission Factors</h5>

      <div><strong>CO₂ Factor:</strong> {{ tripForm.get('co2Factor')?.value }}</div>
      <div><strong>NO₂ Factor:</strong> {{ tripForm.get('no2Factor')?.value }}</div>
      <div><strong>CH₄ Factor:</strong> {{ tripForm.get('ch4Factor')?.value }}</div>
      <div><strong>GWP (CH₄):</strong> {{ GWP_CH4 }}</div>
      <div><strong>GWP (NO₂):</strong> {{ GWP_N2O }}</div>

      <hr class="full-width">

      <!-- <h5 class="section-title">Calculation Formula</h5> -->

      <h1 class="card-title">Emission Calculation</h1>

      <div class="formula full-width">
        CO₂ = Fuel × CO₂ Factor <br>
        = {{ tripForm.get('fuelConsumedLtr')?.value }} × {{ tripForm.get('co2Factor')?.value }} <br>
        = {{ totalCO2 | number:'1.3-3' }} kg
      </div>

      <div class="formula full-width">
        NO₂ = Fuel × NO₂ Factor <br>
        ={{ tripForm.get('fuelConsumedLtr')?.value }} × {{ tripForm.get('no2Factor')?.value }} <br>
        = {{ totalNO2 | number:'1.6-6' }} kg
      </div>

      <div class="formula full-width">
        CH₄ = Fuel × CH₄ Factor <br>
        = {{ tripForm.get('fuelConsumedLtr')?.value }} × {{ tripForm.get('ch4Factor')?.value }} <br>
        = {{ totalCH4 | number:'1.6-6' }} kg
      </div>


      <div class="formula full-width">
        Total Emission CO₂ Eq = CO₂ + NO₂ + CH₄ <br>
        = ({{ totalCO2 | number:'1.3-3' }} × 1) +
        ({{ totalCH4 | number:'1.6-6' }} × 28) +
        ({{ totalNO2 | number:'1.6-6' }} × 265) <br>
        = {{ totalCO2e | number:'1.6-6' }} kg CO₂e
      </div>



      <!-- <div class="total-emission full-width">
        Final Emission: {{ totalCO2 + totalNO2 + totalCH4 | number:'1.3-3' }} kg CO₂e
      </div> -->

    </div>
  </div>


</div>

<!-- </div> -->