<div class="ngo-container">

  <div class="card">

    <form [formGroup]="plantationForm" (ngSubmit)="submit()" class="form-grid">

      <!-- Project -->
      <div class="form-group">
        <label>Select Project <span class="required">*</span></label>

        <select formControlName="projectId">
          <option value="">Select Project</option>
          <option *ngFor="let p of projects" [value]="p.project_id">
            {{ p.project_name }}
          </option>
        </select>
      </div>

      <!-- Year -->
      <div class="form-group">
        <label>Year <span class="required">*</span></label>

        <select formControlName="year">
          <option value="">Select Year</option>
          <option *ngFor="let y of yearList" [value]="y">
            {{ y }}
          </option>
        </select>
      </div>

      <!-- EMPTY SPACE (for 3-column layout balance) -->
      <div class="form-group"></div>

      <!-- INFO BOX (FULL WIDTH) -->
      <div class="form-group full-width">
        <div class="info-box">

          <div class="info-item">
            <span>Total Emission</span>
            <strong>{{ totalEmission }} kg</strong>
          </div>

          <div class="info-item">
            <span>Trees Required</span>
            <strong>{{ treesRequired }}</strong>
          </div>

          <div class="info-item">
            <span>Estimated CO₂ Offset</span>
            <strong>{{ offset }} kg</strong>
          </div>

        </div>
      </div>

      <!-- BUTTON -->
       <div class="form-group full-width">
        <div class="btn-group">
          <button type="submit" class="btn-save">
            Save
          </button>

          <button type="button" class="btn-reset" (click)="reset()">
            Reset
          </button>
        </div>
      </div>


    </form>

  </div>

</div>