<div class="container">

  <!-- ================= CREATE / EDIT FORM ================= -->
  <div class="card">
    <form [formGroup]="vehicleForm" class="form-grid" (ngSubmit)="submit()">

      <div class="form-group">
        <label>Vehicle Type Name</label>
<input type="text"
       formControlName="description"
       placeholder="Enter Description" />      </div>

      <div class="form-group">
        <label>Vehicle Category</label>
       <select formControlName="categoryId"
        [style.color]="!vehicleForm.get('categoryId')?.value ? '#999' : '#000'">

  <option value="" disabled>Select Category</option>

  <option value="1" style="color:#000;">LDV</option>
  <option value="2" style="color:#000;">MDV</option>
  <option value="3" style="color:#000;">HDV</option>

</select>
      </div>

      <div class="form-group">
        <label>Description</label>

<input type="text"
       formControlName="description"
       placeholder="Enter Description" />      </div>

      <div class="form-actions">
        <button type="submit" class="save-btn">
          {{ !vehicleForm.value.vehicle_type_id ? 'Save' : 'Update' }}
        </button>
      <button class="btn-reset" (click)="resetForm()">Reset</button>

      </div>

    </form>
  </div>

  <!-- ================= SEARCH + FILTER ================= -->
  <div class="card">

    <form [formGroup]="searchForm">
  <div class="search-row">

    <div class="search-left">
      <input
        type="text"
        placeholder="Quick Search"
        formControlName="searchText"
        class="search-input">
    </div>

    <div class="search-right">

      <div class="status-toggle">
  <span>Active Only</span>
  <label class="switch">
    <input type="checkbox"
           [checked]="onlyActive() === true"
           (change)="onActiveFilterChange($event)">
    <span class="slider"></span>
  </label>
</div>
      <button type="button" class="filter-btn"
          (click)="openFilterModal()">
        Filter
      </button>

    </div>
  </div>
</form>

    <!-- ================= TABLE ================= -->
    <div class="table-wrapper">
      <table>

        <thead>
       <tr>
    <th (click)="sort('vehicle_type_name')" class="sortable">
      Name <span class="sort-icon">{{ getSortIcon('vehicle_type_name') }}</span>
    </th>
    <th (click)="sort('categoryName')" class="sortable">
      Category <span class="sort-icon">{{ getSortIcon('categoryName') }}</span>
    </th>
    <th (click)="sort('description')" class="sortable">
      Description <span class="sort-icon">{{ getSortIcon('description') }}</span>
    </th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
</thead>
           

        <tbody>
          <tr *ngFor="let v of vehicleTypes()">

            <td>{{ v.vehicle_type_name }}</td>
            <td>{{ v.categoryName }}</td>
            <td>{{ v.description }}</td>

            <td>
              <label class="switch">
                <input
                  type="checkbox"
                  [checked]="v.isActive"
                  (change)="toggleActive(v)">
                <span class="slider"></span>
              </label>
            </td>

            <td class="actions">
              <button class="edit-btn" (click)="edit(v)">Edit</button>
              <button class="delete-btn" (click)="deleteUI(v)">Delete</button>
            </td>

          </tr>
           <tr *ngIf="vehicleTypes().length === 0">
    <td colspan="5" style="text-align: center; padding: 20px; color: #999;">
      No records found
    </td>
  </tr>
        </tbody>

      </table>
    </div>

    <!-- ================= PAGINATION ================= -->
         <div class="pagination-info">
    <span>Total Records: {{ totalRecords() }}</span>
    <div class="pagination-controls">
      <button (click)="previousPage()" [disabled]="currentPage() === 1">Previous</button>
      <span>Page {{ currentPage() }} of {{ totalPages() }}</span>
      <button (click)="nextPage()" [disabled]="currentPage() === totalPages()">Next</button>

      <label for="pageSize">Page Size:</label>
      <select id="pageSize" [value]="pageSize()" (change)="onPageSizeChange($event)">
        <option *ngFor="let size of pageSizeOptions" [value]="size">{{ size }}</option>
      </select>
    </div>
  </div>
  

<!-- ================= FILTER MODAL ================= -->
<div class="filter-overlay" *ngIf="filterModalOpen()">
  <div class="filter-modal">

    <!-- Header -->
    <div class="filter-header">
      <h3>Filter Vehicle Types</h3>
      <button type="button"
              class="close-btn"
              (click)="closeFilterModal()">✖</button>
    </div>

    <!-- Body -->
    <div class="filter-body">

      <!-- Category Multi Select -->
      <div class="form-group">

  <label>Vehicle Type</label>

  <div class="multi-select-box">

    <div class="checkbox-item">
      <label>
        <input type="checkbox"
               [checked]="isVehicleSelected('Bike')"
               (change)="toggleVehicle('Bike')" />
        <span>Bike</span>
      </label>
    </div>

    <div class="checkbox-item">
      <label>
        <input type="checkbox"
               [checked]="isVehicleSelected('Car')"
               (change)="toggleVehicle('Car')" />
        <span>Car</span>
      </label>
    </div>

    <div class="checkbox-item">
      <label>
        <input type="checkbox"
               [checked]="isVehicleSelected('Bus')"
               (change)="toggleVehicle('Bus')" />
        <span>Bus</span>
      </label>
    </div>

  </div>

        <label>Vehicle Category</label>

        <div class="multi-select-box">

          <div class="checkbox-item">
            <label>
              <input type="checkbox"
                     [checked]="isCategorySelected('1')"
                     (change)="toggleCategory('1')" />
              <span>LDV</span>
            </label>
          </div>

          <div class="checkbox-item">
            <label>
              <input type="checkbox"
                     [checked]="isCategorySelected('2')"
                     (change)="toggleCategory('2')" />
              <span>MDV</span>
            </label>
          </div>

          <div class="checkbox-item">
            <label>
              <input type="checkbox"
                     [checked]="isCategorySelected('3')"
                     (change)="toggleCategory('3')" />
              <span>HDV</span>
            </label>
          </div>

        </div>
      </div>

      <!-- Footer -->
      <div class="filter-footer">
        <button type="button"
                class="reset-btn"
                (click)="resetFilter()">
          Reset
        </button>

        <button type="button"
                class="apply-btn"
                (click)="applyFilter()">
          Apply Filter
        </button>
      </div>

    </div>
  </div>
</div>
    </div>

    <!-- <div class="pagination-info">
      <span>Total Records: {{ totalRecords() }}</span>

      <div class="pagination-controls">
        <button (click)="previousPage()">Previous</button>
        <span>Page {{ currentPage() }} of {{ totalPages() }}</span>
        <button (click)="nextPage()">Next</button>
      </div>
    </div> -->

  </div>
