<div class="layout-container">
  <button class="menu-btn" (click)="toggleSidebar()">
    <i class="fas fa-bars"></i>
  </button>
  <!-- Sidebar -->
  <aside class="sidebar" [class.closed]="!sidebarOpen">
    <div class="brand">
      <h1>CARBON<span>360</span></h1>
      <p>Track • Analyze • Improve</p>
    </div>

    <ul class="menu">

      <!-- ADMINISTRATION -->
      <li class="menu-parent">
        <div class="menu-title" (click)="toggleMenu('admin')">
          <i class="fas fa-user-shield"></i>
          <span>Administration</span>
          <i class="fas fa-chevron-down arrow" [class.rotate]="openedMenu === 'admin'"></i>
        </div>

        <ul class="submenu" *ngIf="openedMenu === 'admin'">

          <li *ngIf="isAdmin() || isCorporate()" (click)="goTo('user')" [class.active-link]="isActive('/user')">
            <i class="fas fa-users-cog"></i>
            User Administration
          </li>

          <li *ngIf="isAdmin() || isCorporate()" (click)="goTo('role')" [class.active-link]="isActive('/role')">
            <i class="fas fa-key"></i>
            Access Control
          </li>

          <li *ngIf="isAdmin() || isCorporate()" (click)="goTo('department')"
            [class.active-link]="isActive('/department')">
            <i class="fas fa-building"></i>
            Organizational Units
          </li>

          <li *ngIf="isAdmin() || isCorporate()" (click)="goTo('vehicle')"
            [class.active-link]="isActive('/vehicle')">
            <i class="fas fa-building"></i>
            Vehicle Emission Calculation
          </li>

            <li *ngIf="isAdmin() || isCorporate()" (click)="goTo('vehicletrip')"
            [class.active-link]="isActive('/vehicletrip')">
            <i class="fas fa-building"></i>
            Vehicle Trip
          </li>

        </ul>
      </li>

      <!-- FLEET -->
      <li class="menu-parent">
        <div class="menu-title" (click)="toggleMenu('fleet')">
          <i class="fas fa-truck-moving"></i>
          <span>Fleet & Transport</span>
          <i class="fas fa-chevron-down arrow" [class.rotate]="openedMenu === 'fleet'"></i>
        </div>

        <ul class="submenu" *ngIf="openedMenu === 'fleet'">
          <li *ngIf="isAdmin() || isReporter()" routerLink="/vehicle" routerLinkActive="active-link">
            <i class="fas fa-clipboard-list"></i>
            Report
          </li>

          <li *ngIf="isAdmin() || isReporter()" routerLink="/waste" routerLinkActive="active-link">
            <i class="fas fa-search"></i>
            Search
          </li>
        </ul>
      </li>

      <!-- WASTE -->
      <li class="menu-parent">
        <div class="menu-title" (click)="toggleMenu('waste')">
          <i class="fas fa-recycle"></i>
          <span>Waste & Disposal</span>
          <i class="fas fa-chevron-down arrow" [class.rotate]="openedMenu === 'waste'"></i>
        </div>

        <ul class="submenu" *ngIf="openedMenu === 'waste'">
          <li *ngIf="isAdmin() || isReporter()" routerLink="/vehicle" routerLinkActive="active-link">
            <i class="fas fa-dumpster"></i>
            Report
          </li>

          <li *ngIf="isAdmin() || isReporter()" routerLink="/waste" routerLinkActive="active-link">
            <i class="fas fa-filter"></i>
            Search
          </li>
        </ul>
      </li>

      <!-- POWER -->
      <li class="menu-parent">
        <div class="menu-title" (click)="toggleMenu('power')">
          <i class="fas fa-bolt"></i>
          <span>Power Generation</span>
          <i class="fas fa-chevron-down arrow" [class.rotate]="openedMenu === 'power'"></i>
        </div>

        <ul class="submenu" *ngIf="openedMenu === 'power'">
          <li *ngIf="isAdmin() || isReporter()" routerLink="/vehicle" routerLinkActive="active-link">
            <i class="fas fa-file-signature"></i>
            Report
          </li>

          <li *ngIf="isAdmin() || isReporter()" routerLink="/waste" routerLinkActive="active-link">
            <i class="fas fa-chart-line"></i>
            Search
          </li>
        </ul>
      </li>

    </ul>
  </aside>

  <!-- MAIN SECTION -->
  <div class="main-section">

    <header class="topbar">
      <div class="page-title">
        {{ pageTitle }}
      </div>
      <div class="right">
        <div class="admin-wrapper">
          <div class="admin-avatar" (click)="toggleProfile($event)">
            {{ loggedInUser.charAt(0) }}
          </div>

          <div class="admin-dropdown" *ngIf="showProfileCard" (click)="$event.stopPropagation()">

            <h4 *ngIf="roles && roles.length > 1">Switch Role</h4>

            <select *ngIf="roles && roles.length > 1" [(ngModel)]="selectedRole" (change)="onRoleChange()"
              class="role-select">

              <option *ngFor="let role of roles" [value]="role">
                {{ role }}
              </option>

            </select>

            <div class="divider"></div>
            <button class="logout-btn" (click)="logout()">Logout</button>

          </div>
        </div>
      </div>
    </header>

    <div class="page-content">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>