<div class="emission-page">
  <div class="card">
    <form [formGroup]="emissionForm" (ngSubmit)="submitEmission()" class="form-grid">
      <!-- Fuel Dropdown -->
      <div class="form-group">
        <label>Fuel <span style="color: red">*</span></label>

        <select formControlName="FuelId">
          <option value="" disabled>Select Fuel</option>

          <option *ngFor="let f of fuels" [ngValue]="f.fuelId">
  {{ f.fuelName }}
</option>
        </select>

       
        <small *ngIf="emissionForm.get('FuelId')?.touched && emissionForm.get('FuelId')?.invalid"
       style="color:red">
  Fuel is required
</small>
      </div>
      <!-- CO2 -->
      <div class="form-group">
        <label>CO2 Factor (Kg/L) <span class="required">*</span></label>
        <input type="number" formControlName="CO2_Factor_KgPerL" placeholder="Enter CO2 Factor" />
        <small
          class="error-text"
          *ngIf="
            emissionForm.get('CO2_Factor_KgPerL')?.touched &&
            emissionForm.get('CO2_Factor_KgPerL')?.invalid
          "
        >
          CO2 factor is required
        </small>
      </div>

      <!-- NO2 -->
      <div class="form-group">
        <label>NO2 Factor (Kg/L) <span class="required">*</span></label>
        <input type="number" formControlName="NO2_Factor_KgPerL" placeholder="Enter NO2 Factor" />
        <small
          class="error-text"
          *ngIf="
            emissionForm.get('NO2_Factor_KgPerL')?.touched &&
            emissionForm.get('NO2_Factor_KgPerL')?.invalid
          "
        >
          NO2 factor is required
        </small>
      </div>

      <!-- CH4 -->
      <div class="form-group">
        <label>CH4 Factor (Kg/L) <span class="required">*</span></label>
        <input type="number" formControlName="CH4_Factor_KgPerL" placeholder="Enter CH4 Factor" />
        <small
          class="error-text"
          *ngIf="
            emissionForm.get('CH4_Factor_KgPerL')?.touched &&
            emissionForm.get('CH4_Factor_KgPerL')?.invalid
          "
        >
          CH4 factor is required
        </small>
      </div>

      <!-- Status -->
      <div class="form-actions">
        <div class="status-toggle">
          <span>Active</span>
          <label class="switch">
            <input type="checkbox" formControlName="IsActive" />
            <span class="slider"></span>
          </label>
        </div>
      </div>

      <!-- Buttons -->
      <div class="form-actions">
        <button type="submit" class="save-btn">
          {{ !emissionForm.value.EmissionFactorId ? 'Save' : 'Update' }}
        </button>

        <button type="button" class="reset-btn" (click)="resetForm()">Reset</button>
      </div>
    </form>
  </div>

  <!-- ================= SIMPLE LIST ================= -->
  <div class="card table-card">
    <table>
      <thead>
        <tr>
          <th>Fuel Type</th>
          <th>CO2 Factor</th>
          <th>NO2 Factor</th>
          <th>CH4 Factor</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let e of emissionFactors()">
          <td>{{ e.FuelName }}</td>
          <td>{{ e.CO2_Factor_KgPerL }}</td>
          <td>{{ e.NO2_Factor_KgPerL }}</td>
          <td>{{ e.CH4_Factor_KgPerL }}</td>
          <td>
            <label class="toggle-switch">
              <input type="checkbox" [checked]="e.IsActive" (change)="toggleActive(e)" />
              <span class="toggle-slider"></span>
            </label>
          </td>
          <td class="action-buttons">
            <button class="btn-edit" (click)="edit(e)">Edit</button>
            <button class="btn-delete" (click)="deleteUI(e)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
