<div class="emission-page">

  <!-- ================= INPUT FORM ================= -->
  <div class="card form-card">
    <form [formGroup]="emissionForm" (ngSubmit)="submitEmission()">

      <div class="form-row">
<div class="mb-3">
  <label>Fuel</label>
  <select formControlName="FuelId" class="form-control">
    <option value="">-- Select Fuel --</option>
    <option *ngFor="let f of fuels" [value]="f.fuelId">
      {{ f.fuelName }}
    </option>
  </select>
</div>

        <div class="form-group">
          <label>CO2 Factor (Kg/L)</label>
          <input type="number" formControlName="CO2_Factor_KgPerL">
        </div>

        <div class="form-group">
          <label>NO2 Factor (Kg/Km)</label>
          <input type="number" formControlName="NO2_Factor_KgPerKm">
        </div>

        <div class="form-group">
          <label>CH4 Factor (Kg/Km)</label>
          <input type="number" formControlName="CH4_Factor_KgPerKm">
        </div>

        <div class="form-group status-group">
          <label>Status</label>
          <label class="toggle-switch">
            <input type="checkbox" formControlName="IsActive">
            <span class="toggle-slider"></span>
          </label>
          <span>{{ emissionForm.get('IsActive')?.value ? 'Active' : 'Inactive' }}</span>
        </div>

      </div>

      <div class="form-buttons">
        <button type="submit" class="btn-primary">
          {{ !emissionForm.value.EmissionFactorId ? 'Save' : 'Update' }}
        </button>
        <button type="button" class="btn-secondary" (click)="resetForm()">Reset</button>
      </div>

    </form>
  </div>

  <!-- ================= SIMPLE LIST ================= -->
  <div class="card table-card">
    <table>
      <thead>
        <tr>
          <th>Fuel Type</th>
          <th>CO2 Factor</th>
          <th>NO2 Factor</th>
          <th>CH4 Factor</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let e of emissionFactors()">
          <td>{{ e.FuelName }}</td>
          <td>{{ e.CO2_Factor_KgPerL }}</td>
          <td>{{ e.NO2_Factor_KgPerKm }}</td>
          <td>{{ e.CH4_Factor_KgPerKm }}</td>
          <td>
            <label class="toggle-switch">
              <input type="checkbox" [checked]="e.IsActive" (change)="toggleActive(e)">
              <span class="toggle-slider"></span>
            </label>
          </td>
          <td class="action-buttons">
            <button class="btn-edit" (click)="edit(e)">Edit</button>
            <button class="btn-delete" (click)="deleteUI(e)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>